{% extends "base.html" %}

{% block content %}

    <h1>Page to add</h1>

    {{ comment.date_posted|date:"D d M Y" }}

    {% with date=comment.date_posted %}
        {{ comment.date_posted }}
    {% endwith %}

    {% include "partials/errors-form.html" %}

    {% comment %} <form action="add" method="POST">
      
        <label for="">Text:</label>
        <textarea required name="text"></textarea>
        {% csrf_token %}
        <button type="submit">Send</button>
    </form> {% endcomment %}

    <form action="" method="post">
        {{ form.text }}
        {% csrf_token %}
        <button type="submit">Send</button>
    </form>
{% endblock %}