{% extends "base.html" %}

{% load custom_tags %}

{% block content %}

    {% my_connection "table" "C1" %}

    {{ "andres29@gmail.com"|cut:"gmail." }}

    <a href="{% url 'comments:add' %}" target="_blank">Add</a>

    {% for c in comments %}
        <p>{{ c.text|cut:"!"|safe }}</p>
        <hr>
        <p>{{ c.date_posted }}</p>
        <!-- <a href="/tasks/update/{{ c.id }}">Edit</a> -->
        <a href="{% url 'comments:update' c.id %}">Edit</a>
        <form action="{% url 'comments:delete' c.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    {% endfor %}

    <nav>
        <ul class="pagination justify-content-center">
            {% if  comments.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ comments.previous_page_number }}">Prev</a>
                </li>
            {% endif %}
               
                 <li class="page-item">
                    {% for i in comments.paginator.page_range  %}
                        {% if i == comments.number %}
                            <a href="?page={{ i }}" class="page-link active">
                                {{i}}
                            </a>
                        {% else %}
                            <a href="?page={{ i }}" class="page-link">
                                {{i}}
                            </a>
                        {% endif %}
                    {% endfor %}
                </li>

            {% if comments.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ comments.next_page_number }}">Next</a>
                </li>
            {% endif %}


   


        </ul>
    </nav>
    

    

{% endblock %}