{% extends "base.html" %}

{% block content %}

    {% include "partials/errors-form.html" %}

    <form method="post">
        {% csrf_token %}
        {{ form.title.label }}
        {{ form.title }}
        <br>
        {{ form.slug.label }}
        {{ form.slug }}
        <br>
        {{ form.description.label }}
        {{ form.description }}
        <br>
        {{ form.price.label }}
        {{ form.price }}
        <br>
        {{ form.type.label }}
        {{ form.type }}
        <br>
        {{ form.category.label }}
        {{ form.category }}
        <br>


        <button type="submit">Send</button>
    </form>
{% endblock %}
