
{% extends "base.html" %}

{% block head %}
    {{ block.super }}
    <style>
        .importat{
            color: #FF0000;
        }
    </style>
{% endblock%}

{% block title %}
    Element List
{% endblock%}

{% block content %}

    <a href="/elements/add" target="_blank">Create</a>

    <table>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Type</th>
            <th>Price</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        {% for e in elements %}
            <tr>
                <td>{{forloop.last}} {{e.title}}</td>
                <td>{{e.category.title}}</td>
                <td>{{e.type}}</td>
                <td>{{e.price}}</td>
                <td>{{e.created}}</td>
            </tr>
        {% endfor %}
    </table>

    {% include "partials/pagination.html" with page_obj=elements %}

{% endblock %}
